<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决手机上的显示问题-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>社区结核病追踪随访</title>
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/shequ/css/index.css">
    <script type="text/javascript" src="/shequ/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--    angular-->
    <script type="text/javascript" src="/shequ/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/shequ/js/base.js"></script>
    <script type="text/javascript" src="/shequ/js/service/indexService.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/baseController.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/indexController.js"></script>
</head>
<body ng-app="shequ" ng-controller="indexController" ng-init="doInit()">
<div class="container">
    <div class="row">
        <div class="mytitle jianbianse1">
            <div>社区结核病追踪随访</div>
        </div>
    </div>
    <div class="row">
        <img class="myimg" src="/shequ/img/toubu.jpg">
    </div>
    <div class="myuser jianbianse2">
        <img src="/shequ/img/doctor.png">
        <div class="hello">
            <div>
                早上好
            </div>
            <div>
                来自
                <div ng-bind="dataInfo.hosName"></div>
                的医生
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 gzt">
            <img class="myinco" src="/shequ/img/gzt.png">
            工作台
            <hr class="myhr">
        </div>
    </div>
    <div ng-click="gozz()" class="myjob">
        <img class="mypng" src="/shequ/img/zz.png">
        <div class="jobname">
            追踪
        </div>
        <div class="jobinfo">
            今日待完成追踪数：
            <div ng-bind="dataInfo.zzNum"></div>
            条
        </div>
    </div>
    <div ng-click="gosf()" class="myjob">
        <img class="mypng" src="/shequ/img/sf.png">
        <div class="jobname">
            随访
        </div>
        <div class="jobinfo">
            今日待完成随访数：
            <div ng-bind="dataInfo.sfNum"></div>
            条
        </div>
    </div>

</div>
</body>
</html>