<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决手机上的显示问题-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>追踪录入</title>
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/shequ/css/add.css">
    <script type="text/javascript" src="/shequ/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--angular-->
    <script type="text/javascript" src="/shequ/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/shequ/js/base.js"></script>
    <script type="text/javascript" src="/shequ/js/service/patientService.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/baseController.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/zzaddController.js"></script>
</head>
<body ng-app="shequ" ng-controller="zzaddController" ng-init="doInit()">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="baseinfocont">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="baseinfotitle">
                            <img class="myinco" src="/shequ/img/geren.png">
                            个人基本信息
                            <hr class="myhr">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        姓名：
                    </div>
                    <div class="col-xs-6 " ng-bind="data.patient.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        性别：
                    </div>
                    <div class="col-xs-6" ng-bind="data.patient.sex">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        年龄：
                    </div>
                    <div class="col-xs-6" ng-bind="data.patient.age">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        联系电话：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1" ng-bind="forNull(data.patient.phone)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        身份证：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1" ng-bind="data.patient.cardNo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        家庭住址：
                    </div>
                    <div class="col-xs-7 col-xs-pull-1" ng-bind="data.patient.addr">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mtop">
        <div class="col-xs-12">
            <div class="zzaddtitle">
                <img class="myinco" src="/shequ/img/zzluru.png">
                追踪信息录入
                <hr class="myhr">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="mytable">
                <br>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzdiqu">追踪地区</label>
                        <input readonly type="text" class="form-control" id="zzdiqu" placeholder="请输入追踪地区"
                               ng-model="data.areaOrg.zzdq.areaName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzdanwei">追踪单位</label>
                        <select class="form-control" id="zzdanwei" ng-model="postData.trackUnit">
                            <option ng-repeat="item in data.areaOrg.zzdw" value="{{item.orgCode}}"
                                    ng-bind="item.orgName">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="bgdiqu">报告地区</label>
                        <input readonly type="text" class="form-control" id="bgdiqu" placeholder="请输入报告地区"
                               ng-model="data.areaOrg.bgdq.areaName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="bgdanwei">报告单位</label>
                        <input readonly type="text" class="form-control" id="bgdanwei" placeholder="请输入报告单位"
                               ng-model="data.areaOrg.bgdw.orgName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzriqi">追踪日期</label>
                        <input type="date" class="form-control" id="zzriqi" ng-model="postData.trackDate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label style="margin-right: 10%;margin-top: 10px">追踪是否到位</label><br>
                        <input ng-model="zzzt" ng-value="0" type="radio" style="margin-left: 0" class="radio-button"
                               name="zzdaowei">未追踪
                        <input ng-model="zzzt" ng-value="1" type="radio" style="margin-left: 15%" class="radio-button"
                               name="zzdaowei">未到位
                        <input ng-model="zzzt" ng-value="2" type="radio" style="margin-left: 15%" class="radio-button"
                               name="zzdaowei">已到位
                    </div>
                </div>
                <hr class="fenge">
                <div class="row" ng-if="zzzt==1">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="weidaoweiyuanyin">追踪未到位原因</label>
                        <select class="form-control" id="weidaoweiyuanyin" ng-model="postData.trackWdwReason">
                            <option ng-repeat="item in data.tables.zzwdwyy" value="{{item.typecode}}"
                                    ng-bind="item.typename">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-if="zzzt==0">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="wzzyuanyin">未追踪原因</label>
                        <select class="form-control" id="wzzyuanyin" ng-model="postData.noTrackReason">
                            <option ng-repeat="item in data.tables.wzzyy" value="{{item.typecode}}"
                                    ng-bind="item.typename">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zhuanzhenriqi">转诊日期</label>
                        <input type="date" class="form-control" id="zhuanzhenriqi" ng-model="postData.jzDate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzbeizhu">追踪信息备注</label>
                        <textarea class="form-control" id="zzbeizhu" ng-model="postData.trackBz"></textarea>
                    </div>
                </div>
                <hr class="fenge">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-default" ng-click="reset()">重置</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-primary" ng-click="submit()">提交</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>