<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决手机上的显示问题-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>结核病疑似患者追踪</title>
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/shequ/css/main.css">
    <script type="text/javascript" src="/shequ/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--angular-->
    <script type="text/javascript" src="/shequ/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/shequ/js/base.js"></script>
    <script type="text/javascript" src="/shequ/js/service/areaOrgService.js"></script>
    <script type="text/javascript" src="/shequ/js/service/patientService.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/baseController.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/zzmainController.js"></script>
</head>
<body ng-app="shequ" ng-controller="zzmainController" ng-init="doInit()">
<div class="container">
    <div class="row">
        <div class="mytitle" role="alert">
            <img class="iimg" src="/shequ/img/dingwei.png"/>
            <span ng-bind="hosName"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="search bar7">
                <form>
                    <input ng-model="searchText" type="text" placeholder="请输入患者姓名或身份证">
                </form>
            </div>
        </div>
    </div>
    <br>

    <div ng-repeat="item in list">
        <div ng-click="gozzadd(item.id,username)" class="myjob">
            <img class="mypng" src="/shequ/img/touxiang.png"/>
            <div class="content">
                <div class="uname">
                    <span ng-bind="forNull(item.name)"></span>
                </div>
                <div class="uinfo">
                    <span ng-bind="forNull(item.cardNo)"></span>
                </div>
                <div class="uinfo baseinfo">
                    <span ng-bind="forNull(item.addr)"></span>
                </div>
                <div class="uinfo">
                    上次追踪日期：<span ng-bind="forNull(item.date)"></span>
                </div>
                <div class="uinfo">
                    上次追踪情况：<span ng-bind="forNull(item.info)"></span>
                </div>
                <div class="uinfo">
                    未到位原因：<span ng-bind="forNull(item.reason)"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" ng-click="searchList(false)">
            <div class="text-center"
                 style="width: 100%;height: 25px;line-height:25px;margin-bottom: 15px;margin-top: 15px;"
                 ng-bind="makeText()"></div>
        </div>
    </div>
</div>
</body>
</html>