<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决手机上的显示问题-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>随访服务信息录入</title>
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/shequ/css/add.css">
    <script type="text/javascript" src="/shequ/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="baseinfocont">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="baseinfotitle">
                            <img class="myinco" src="/shequ/img/geren.png">
                            个人基本信息
                            <hr class="myhr">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        姓名：
                    </div>
                    <div class="col-xs-6 ">
                        张三
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        性别：
                    </div>
                    <div class="col-xs-6">
                        男
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        年龄：
                    </div>
                    <div class="col-xs-6">
                        30
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        联系电话：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1">
                        17683854457
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        身份证：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1">
                        429004199701273697
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        家庭住址：
                    </div>
                    <div class="col-xs-7 col-xs-pull-1">
                        浙江省温州市苍南县灵溪镇灵溪镇学士路610号
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mtop">
        <div class="col-xs-12">
            <div class="zzaddtitle">
                <img class="myinco" src="/shequ/img/zzluru.png">
                随访服务信息录入
                <hr class="myhr">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="mytable">
                <br>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzdiqu">追踪地区</label>
                        <input type="text" class="form-control" id="zzdiqu" placeholder="请输入追踪地区">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzdanwei">追踪单位</label>
                        <input type="text" class="form-control" id="zzdanwei" placeholder="请输入追踪单位">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="bgdiqu">报告地区</label>
                        <input type="text" class="form-control" id="bgdiqu" placeholder="请输入报告地区">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="bgdanwei">报告单位</label>
                        <input type="text" class="form-control" id="bgdanwei" placeholder="请输入报告单位">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzriqi">追踪日期</label>
                        <input type="date" class="form-control" id="zzriqi">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label style="margin-right: 10%;margin-top: 10px">追踪是否到位</label>
                        <input type="radio" checked="checked" class="radio-button" name="zzdaowei">已到位
                        <input type="radio" style="margin-left: 10%" class="radio-button" name="zzdaowei">未到位
                    </div>
                </div>
                <hr class="fenge">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="weidaoweiyuanyin">追踪未到位原因</label>
                        <select class="form-control" id="weidaoweiyuanyin">
                            <option>查无此人</option>
                            <option>拒绝就诊</option>
                            <option>外出</option>
                            <option>死亡</option>
                            <option>其他</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="wzzyuanyin">未追踪原因</label>
                        <select class="form-control" id="wzzyuanyin">
                            <option>地址不详</option>
                            <option>其他</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zhuanzhenriqi">转诊日期</label>
                        <input type="date" class="form-control" id="zhuanzhenriqi">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzbeizhu">追踪信息备注</label>
                        <textarea class="form-control" id="zzbeizhu"></textarea>
                    </div>
                </div>
                <hr class="fenge">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-default">重置</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-primary">提交</button>
                    </div>
                </div>
                <br>
            </div>

        </div>
    </div>
</div>
</body>
</html>