<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决手机上的显示问题-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>随访服务信息录入</title>
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/layui-calendar/layui/css/layui.css">
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/layui-calendar/css/date.css">
    <link type="text/css" rel="stylesheet" href="/shequ/css/add.css">
    <script type="text/javascript" src="/shequ/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/layui-calendar/layui/layui.js"></script>
    <!--angular-->
    <script type="text/javascript" src="/shequ/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/shequ/js/base.js"></script>
    <script type="text/javascript" src="/shequ/js/service/patientService.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/baseController.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/sfAddController.js"></script>
</head>
<body ng-app="shequ" ng-controller="sfAddController" ng-init="doInit()">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="baseinfocont">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="baseinfotitle">
                            <img class="myinco" src="/shequ/img/geren.png">
                            个人基本信息
                            <hr class="myhr">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        姓名：
                    </div>
                    <div class="col-xs-6 " ng-bind="data.patient.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        性别：
                    </div>
                    <div class="col-xs-6" ng-bind="data.patient.sex">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        年龄：
                    </div>
                    <div class="col-xs-6" ng-bind="data.patient.age">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        联系电话：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1" ng-bind="data.patient.phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        身份证：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1" ng-bind="data.patient.cardNo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        家庭住址：
                    </div>
                    <div class="col-xs-7 col-xs-pull-1" ng-bind="data.patient.addr">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mtop">
        <div class="col-xs-12">
            <div class="zzaddtitle">
                <img class="myinco" src="/shequ/img/zzluru.png">
                随访服务信息录入
                <hr class="myhr">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="mytable">
                <br>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="sfriqi">随访日期</label>
                        <input type="date" class="form-control" id="sfriqi" ng-model="postData.sfDate">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <label for="zlyx">治疗月序</label>
                        <div class="input-group">
                            <span class="input-group-addon">第</span>
                            <input type="text" id="zlyx" class="form-control" ng-model="postData.zlyx">
                            <span class="input-group-addon">月</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="ddry">督导人员</label>
                        <select class="form-control" id="ddry" ng-model="postData.ddry">
                            <option ng-repeat="item in data.tables.ddry" value="{{item.typecode}}"
                                    ng-bind="item.typename">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="sffangshi">随访方式</label>
                        <select class="form-control" id="sffangshi" ng-model="postData.sffs">
                            <option ng-repeat="item in data.tables.sffs" value="{{item.typecode}}"
                                    ng-bind="item.typename">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzjtz">症状及体征</label>
                        <select multiple class="form-control" id="zzjtz" ng-model="zzjtz">
                            <option ng-repeat="item in data.tables.zzjtz" value="{{item.typecode}}"
                                    ng-bind="item.typename">
                            </option>
                        </select>
                    </div>
                </div>

                <br>
                <br>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="mdtitle">生活方式指导</div>
                    </div>
                </div>
                <hr class="fenge mdfenge">

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label>吸烟</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="postData.xy">
                            <span class="input-group-addon">支/天</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label>喝酒</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="postData.hj">
                            <span class="input-group-addon">两/天</span>
                        </div>
                    </div>
                </div>

                <hr class="fenge">
                <br>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="mdtitle">用药</div>
                    </div>
                </div>
                <hr class="fenge mdfenge">

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="hlfa">化疗方案</label>
                        <textarea class="form-control" id="hlfa" ng-model="postData.zlfa"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="yf">用法</label>
                        <select class="form-control" id="yf" ng-model="postData.yf">
                            <option ng-repeat="item in data.tables.yf" value="{{item.typecode}}"
                                    ng-bind="item.typename">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="ypjx">药品剂型</label>
                        <select multiple class="form-control" id="ypjx" ng-model="ypjx">
                            <option ng-repeat="item in data.tables.ypjx" value="{{item.typecode}}"
                                    ng-bind="item.typename">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="lfyrq">漏服药日期</label>{{postData.lfyrq}}
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="lfyrq" placeholder="请选择漏服药日期"
                                   ng-model="postData.lfyrq">
                            <span id="lfycs" class="input-group-addon">共漏服药<span
                                    ng-bind="postData.lfycs"></span>天</span>
                        </div>

                        <div class="layui-inline" id="test-n2"></div>
                    </div>
                </div>

                <hr class="fenge">
                <br>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label style="margin-top: 10px;width: 58%">药物不良反应</label>
                        <input ng-model="blfy" ng-value="1" type="radio" class="radio-button"
                               name="ywblfy">无
                        <input ng-model="blfy" ng-value="2" type="radio" style="margin-left: 5%" class="radio-button"
                               name="ywblfy">有
                    </div>
                </div>
                <div class="row" ng-if="blfy==2">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="fy">反应：</label>
                        <textarea class="form-control" id="fy" ng-model="blfyinfo"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label style="margin-top: 10px;width: 58%">并发症或合并症</label>
                        <input ng-model="hbz" ng-value="1" type="radio" class="radio-button" name="bfzhhbz">无
                        <input ng-model="hbz" ng-value="2" type="radio" style="margin-left: 5%" class="radio-button"
                               name="bfzhhbz">有
                    </div>
                </div>
                <div class="row" ng-if="hbz==2">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zz">症状：</label>
                        <textarea class="form-control" id="zz" ng-model="hbzinfo"></textarea>
                    </div>
                </div>
                <br>

                <br>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="mdtitle">转诊</div>
                    </div>
                </div>
                <hr class="fenge mdfenge">

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="kebie">科别</label>
                        <input type="text" class="form-control" id="kebie" placeholder="请输入转诊科目" ng-model="postData.kb">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="yuanyin">原因</label>
                        <input type="text" class="form-control" id="yuanyin" placeholder="请输入转诊原因"
                               ng-model="postData.yy">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="lzsfjg">2周内随访结果</label>
                        <input type="text" class="form-control" id="lzsfjg" placeholder="请输入2周内随访结果"
                               ng-model="postData.lznsfjg">
                    </div>
                </div>
                <hr class="fenge">
                <br>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="clyj">处理意见</label>
                        <textarea class="form-control" id="clyj" ng-model="postData.clyj"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="xcsfsj">下次随访时间</label>
                        <input type="date" class="form-control" id="xcsfsj" ng-model="postData.xcsfsj">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="beizhu">备注</label>
                        <textarea class="form-control" id="beizhu" ng-model="postData.bz"></textarea>
                    </div>
                </div>

                <hr class="fenge">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-default" ng-click="reset()">重置</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-primary" ng-click="submit()">提交</button>
                    </div>
                </div>
                <br>
            </div>

        </div>
    </div>
</div>
</body>
<style>
    #test-n2 .layui-laydate-main {
        width: 700px;
    }

    #test-n2 .layui-laydate-content td, #test-n2 .layui-laydate-content th {
        width: 100px;
        height: 60px;
    }

    .laydate-day-mark {
        background-color: #e4458e;
        color: white;
    }

    span.laydate-day-mark {
        line-height: 60px;
    }

    .laydate-day-mark::after {
        background-color: #e4458e;
    }
</style>
<script>
    layui.use(['layer', 'form', 'jquery', 'laydate'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            form = layui.form;


        //定义json
        var data = {'2001-01-01': ''};
        var new_date = new Date();
        loding_date(new_date, data);


        //日历插件调用方法
        function loding_date(date_value, data) {

            laydate.render({
                elem: '#test-n2'
                , type: 'date'
                , theme: 'grid'
                , max: '2099-06-16 23:59:59'
                , position: 'static'
                , range: false
                , value: date_value
                , isInitValue: false
                , calendar: false
                , btns: false
                , trigger: 'click'
                , ready: function (value) {
                    //console.log(value);
                    hide_mr(value);
                }
                , done: function (value, date, endDate) {

                    chose_moban(value, data);
                    //layer.alert('你选择的日期是：' + value + '<br>获得的对象是' + JSON.stringify(date));
                    inputDate(value);
                }
                , change: function (value, date) {
                    hide_mr(date);

                }
                , mark: data//重要json！

            });
        }


        function hide_mr(value) {
            var mm = value.year + '-' + value.month + '-' + value.date;

            $('.laydate-theme-grid table tbody').find('[lay-ymd="' + mm + '"]').removeClass('layui-this');
        }

        function inputDate(date) {
            var dates = $('#lfyrq').val().split(',');
            if ($('#lfyrq').val() == 0) {
                $('#lfyrq').val(date);
            } else {
                if ($.inArray(date, dates) == -1) {
                    $('#lfyrq').val($('#lfyrq').val() + "," + date);
                } else {
                    dates.splice($.inArray(date, dates), 1);
                    var str = "";
                    $.each(dates, function (index, value) {
                        str += "," + value;
                    });
                    str = str.substr(1, str.length);
                    $('#lfyrq').val(str);
                }
            }

        }


        //定义添加/编辑标注方法
        function chose_moban(obj_date, markJson) {
            $('#test-n2').html('');//重要！由于插件是嵌套指定容器，再次调用前需要清空原日历控件
            if (markJson.hasOwnProperty(obj_date)) {
                delete markJson[obj_date]
            } else {
                //添加属性
                markJson[obj_date] = '漏服'
            }

            loding_date(obj_date, markJson);//重要！，再标注一个日期后会刷新当前日期变为初始值，所以必须调用当前选定日期。

        }


    })
</script>
</html>