<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决手机上的显示问题-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>第一次随访服务信息录入</title>
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/shequ/css/add.css">
    <script type="text/javascript" src="/shequ/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="baseinfocont">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="baseinfotitle">
                            <img class="myinco" src="/shequ/img/geren.png">
                            个人基本信息
                            <hr class="myhr">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        姓名：
                    </div>
                    <div class="col-xs-6 ">
                        张三
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        性别：
                    </div>
                    <div class="col-xs-6">
                        男
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        年龄：
                    </div>
                    <div class="col-xs-6">
                        30
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        联系电话：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1">
                        17683854457
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        身份证：
                    </div>
                    <div class="col-xs-6 col-xs-pull-1">
                        429004199701273697
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        家庭住址：
                    </div>
                    <div class="col-xs-7 col-xs-pull-1">
                        浙江省温州市苍南县灵溪镇灵溪镇学士路610号
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mtop">
        <div class="col-xs-12">
            <div class="zzaddtitle">
                <img class="myinco" src="/shequ/img/zzluru.png">
                第一次随访服务信息录入
                <hr class="myhr">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="mytable">
                <br>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="sfriqi">随访日期</label>
                        <input type="date" class="form-control" id="sfriqi">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="sffangshi">随访方式</label>
                        <select class="form-control" id="sffangshi">
                            <option>门诊</option>
                            <option>家庭</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="hzlx">患者类型</label>
                        <select class="form-control" id="hzlx">
                            <option>初治</option>
                            <option>复治</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="tjqk">痰菌情况</label>
                        <select class="form-control" id="tjqk">
                            <option>阳性</option>
                            <option>阴性</option>
                            <option>未查痰</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="nyqk">耐药情况</label>
                        <select class="form-control" id="nyqk">
                            <option>耐药</option>
                            <option>非耐药</option>
                            <option>未检测</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="zzjtz">症状及体征</label>
                        <select multiple class="form-control" id="zzjtz">
                            <option value="1">没有症状</option>
                            <option value="2">咳嗽咳痰</option>
                            <option value="3">低热盗汗</option>
                            <option value="4">咯血或血痰</option>
                            <option value="5">胸痛消瘦</option>
                            <option value="6">恶心纳差</option>
                            <option value="7">头痛失眠</option>
                            <option value="8">视物模糊</option>
                            <option value="9">皮肤瘙痒、皮疹</option>
                            <option value="10">耳鸣、听力下降</option>
                            <option value="99">其他</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="qitazz">其他症状</label>
                        <textarea class="form-control" id="qitazz"></textarea>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="mdtitle">用药</div>
                    </div>
                </div>
                <hr class="fenge">

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="hlfa">化疗方案</label>
                        <textarea class="form-control" id="hlfa"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label for="yf">用法</label>
                        <select class="form-control" id="yf">
                            <option>每日</option>
                            <option>间歇</option>
                        </select>
                    </div>
                </div>

                <hr class="fenge">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-default">重置</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-primary">提交</button>
                    </div>
                </div>
                <br>
            </div>

        </div>
    </div>
</div>
</body>
</html>