<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决手机上的显示问题-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>结核病患者随访</title>
    <link type="text/css" rel="stylesheet" href="/shequ/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/shequ/css/main.css">
    <script type="text/javascript" src="/shequ/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/shequ/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--    angular-->
    <script type="text/javascript" src="/shequ/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/shequ/js/base.js"></script>
    <script type="text/javascript" src="/shequ/js/service/areaOrgService.js"></script>
    <script type="text/javascript" src="/shequ/js/service/patientService.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/baseController.js"></script>
    <script type="text/javascript" src="/shequ/js/controller/sfmainController.js"></script>
</head>
<body ng-app="shequ" ng-controller="sfmainController" ng-init="doInit()">
<div class="container">
    <div class="row">
        <div class="mytitle" role="alert"><img class="iimg" src="/shequ/img/dingwei.png"></img><span
                ng-bind="hosName"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="search bar7">
                <form>
                    <input ng-model="searchText" type="text" placeholder="请输入患者姓名或身份证">
                </form>
            </div>
        </div>
    </div>
    <br>

    <div ng-repeat="item in list">
        <div ng-click="gosfadd(item.CARD,item.XCSFSJ)" class="myjob2">
            <img class="mypng" src="/shequ/img/touxiang.png">
            <div class="content">
                <div class="uname" ng-bind="item.NAME">
                </div>
                <div class="uinfo" ng-bind="item.CARD">
                </div>
                <div class="uinfo3 baseinfo" ng-bind="forNull(item.ADDR)">
                </div>
                <div class="uinfo2">
                    下次随访日期：<span ng-bind="forDate(item.XCSFSJ)"></span>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>